<p id="notice"><%= notice %></p>

<p>
  <strong>Project Name:</strong>
  <%= @project_sponsor.ProjectName %>
</p>

<p>
  <strong>Project Description:</strong>
  <%= @project_sponsor.ProjectDesc %>
</p>

<p>
  <strong>Project Sponsor's Name:</strong>
  <%= @project_sponsor.ProjectSponsorName %>
</p>

<p>
  <strong>Project Sponsor's Webpage Link:</strong>
  <%= @project_sponsor.ProjectSponsorLink %>
</p>

<p>
  <strong>Project Scope:</strong>
  <%= @project_sponsor.ProjectScope%>
</p>

<p>
  <strong>feature:</strong>
  <%= @project_sponsor.feature %>
</p>


<%= link_to 'Edit', edit_project_sponsor_path(@project_sponsor) %> |
<%= link_to 'Back', project_sponsors_path %>
