
<div class = "container-fluid">
<h1><%= @title %></h1>
<p><%= @content %></p>
</div>
<div class= "container">
    <div class="card-group">
	
	<%featuredProjs=@project_sponsors.all.order("feature DESC, created_at DESC")%>
	
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/quality-customer-service-is-a-team-effort-picture-id646805636" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
		
            <h5 class="card-title"><%=featuredProjs.first.ProjectName  %></h5>			
            <p class="card-text">Featured Project: <%=featuredProjs.first.ProjectDesc  %></p>
           
		   <a href="internships.html#title1" class="btn btn-light">Get More Info</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/happy-caucasian-intern-listening-to-indian-mentor-explaining-computer-picture-id1070271494?s=2048x2048" class="card-img-top" alt="Image didn't load">
        <div class="card-body">
        
			<h5 class="card-title"><%=featuredProjs.second.ProjectName  %></h5>
            <p class="card-text">Featured Project: <%=featuredProjs.second.ProjectDesc  %></p>

            <a href="internships.html#title2" class="btn btn-light">Get More Info</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/click-here-and-it-should-direct-you-further-picture-id1134029530" class="card-img-top" alt="Image didn't load">
        <div class="card-body">

			<h5 class="card-title"><%=featuredProjs.third.ProjectName  %></h5>
            <p class="card-text">Featured Project: <%=featuredProjs.third.ProjectDesc  %></p>

            <a href="internships.html#title3" class="btn btn-light">Get More Info</a>
        </div>
        </div>
    </div>
</div>