<div class = "container-fluid">

<h1><%= @title %></h1>
<h2><a name = "title1"><%= @subtitle1 %></h2>
<p>     </p>
<div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/quality-customer-service-is-a-team-effort-picture-id646805636" class="card-img-top" alt="Image didn't load">
</div>
<p></p>
<p><%= @content %></p>
<form action="interns/new">
    <input type="submit" value="Sign Up" />
</form>
<p>     </p>
<h2><a name = "title2"><%= @subtitle2 %></h2>
<p></p>
<div class="card" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/happy-caucasian-intern-listening-to-indian-mentor-explaining-computer-picture-id1070271494?s=2048x2048" class="card-img-top" alt="Image didn't load">
</div>

<p><%= @content %></p>
<p> <form action="interns/new">
    <input type="submit" value="Sign Up" />
</form>
</p>

<h2><a name = "title3"><%= @subtitle3 %></h2>

<p>
    <div class="card" style="width: 18rem;">
         <img src="https://media.istockphoto.com/photos/click-here-and-it-should-direct-you-further-picture-id1134029530" class="card-img-top" alt="Image didn't load">
    </div>
</p>

<p><%= @content %></p>

    <div class= "pb-4">
        <form action="interns/new">
            <input type="submit" value="Sign Up" />
        </form>
    </div>
</div>