<div class = "container-fluid">
<h1><%= @title %></h1>
<h2><a name = "title1"><%= @subtitle1 %></h2>
<p><%= @content %></p>
<form action="interns/new">
    <input type="submit" value="Sign Up" />
</form>
<h2><a name = "title2"><%= @subtitle2 %></h2>
<p><%= @content %></p>
<form action="interns/new">
    <input type="submit" value="Sign Up" />
</form>
<h2><a name = "title3"><%= @subtitle3 %></h2>
<p><%= @content %></p>
<form action="internss/new">
    <input type="submit" value="Sign Up" />
</form>
</div>