<p id="notice"><%= notice %></p>

<h1>Interns</h1>

<table cellpadding = "10">
  <thead>
    <tr align = "justify">
      <th align ="center">Name</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">Email</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">School</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">Education</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">HTML</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">Javascript</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">Java</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">Database</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">AI</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th align ="center">Hours</th>
      
    </tr>
  </thead>

  <tbody>
    <% @interns.each do |intern| %>
      <tr align = "justify">
        <td align ="center"><%= intern.name %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= intern.email %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= intern.school %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= intern.education %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= booleancheck(intern.html) %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= booleancheck(intern.javascript) %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= booleancheck(intern.java) %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= booleancheck(intern.database) %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= booleancheck(intern.ai) %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align ="center"><%= intern.hours %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'Show', intern %></td>
        <td><%= link_to 'Edit', edit_intern_path(intern) %></td>
        <td><%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intern', new_intern_path %>
